#header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;

    .transparent-navbar {
        background-color: transparent !important;
    }

    .label {
        font-weight: 700;
        font-size: 1.5rem;
        color: white !important;
    }

    .nav-item-custom {
        padding-right: 1rem;
        font-weight: 500;
        color: #fff !important;

        &:hover {
            color: #fff !important;
            border-bottom: 2px solid #fff;
        }

        &.active {
            font-weight: 600;
            color: #fff;
            border-bottom: 2px solid #fff;
        }
    }

    .form-control {
        background-color: white;
        border-radius: 0;
        padding: 5px 10px;
    }

    .btn-outline-light {
        border: none;
        color: white;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
    .btn-menu-dropdown{
        background-color: transparent;
    }

    .search-input-group {
        transition: all 0.3s ease-in-out;
        .form-control{
            color: #fff;
            background-color: transparent;
            &::placeholder{
                color: #fff;
            }
        }
    }

    .dropdown-menu{
        &.show{
            background-color: transparent;
            border: none;
        }
        .dropdown-item{
            color: #fff;
            &:hover{
                background-color: transparent;
            }
            &:active{
                background-color: transparent;
            }
        }
    }
}
