#header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;

    .transparent-navbar {
        background-color: transparent !important;
    }

    .label {
        font-weight: 700;
        font-size: 1.5rem;
        color: black !important;
    }

    .nav-item-custom {
        padding-right: 1rem;
        font-weight: 500;
        color: black !important;

        &:hover {
            color: black !important;
            border-bottom: 2px solid black;
        }

        &.active {
            font-weight: 600;
            color: black;
            border-bottom: 2px solid black;
        }
    }

    .form-control {
        background-color: white;
        color: black;
        border-radius: 0;
        padding: 5px 10px;

        &::placeholder {
            color: #999;
        }
    }


    .btn-outline-light {
        border: none;
        color: white;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }

    .btn-menu-dropdown {
        background-color: transparent;
    }

    .search-input-group {
        .form-control {
            color: black;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;

            &::placeholder {
                color: #666;
            }
        }
    }


    .dropdown-menu {
        background-color: #fff !important; // nền trắng
        border: 1px solid #ddd; // viền nhẹ

        .dropdown-item {
            color: #000 !important; // chữ đen

            &:hover {
                background-color: #f1f1f1; // hiệu ứng hover nhẹ
                color: #000;
            }

            &:active {
                background-color: #e2e2e2;
            }
        }
    }

}