.order-detail-container {
    padding: 2rem;

    h2 {
        margin-bottom: 1rem;
    }

    .card {
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    img {
        border-radius: 8px;
    }
}