$font-size: 15px;
$font-size-sm: 13px;

#top-header {
    background-color: blueviolet;
    color: #fff;
    padding: 8px 0;

    .left,
    .right {
        font-size: $font-size;

        .email,
        .phone,
        .login,
        .wishlist,
        .cart {
            cursor: pointer;

            svg {
                width: 15px;
            }

            span {
                font-size: $font-size;
            }
        }
    }

    // Responsive nhỏ hơn 768px
    @media (max-width: 767.98px) {

        .left,
        .right {
            justify-content: center;
            font-size: $font-size-sm;

            .email,
            .phone,
            .login,
            .wishlist,
            .cart {
                padding: 2px 6px;

                svg {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-size: $font-size-sm;
                }
            }

            .login,
            .wishlist,
            .cart {}
        }
    }
}